<h1 class="mb-5">Postagens:</h1>

{{#each postagem}}
<section class="mb-4" style="width: 400px;">
    <h1>{{titulo}}</h1>
    <hr>
    <h2>{{slug}}</h2>
    <p>{{descricao}}</p>
    <p>{{conteudo}}</p>
</section>
{{/each}}